backend/virtEnv
frontend/node_modules
backend/.env
backend/voice.mp3
backend/userFile.wav
backend/stored_data.json
backend/local_data.json
backend/neo-chatbot-e6c8c-firebase-adminsdk-mnv0s-cccccdc3f9.json
frontend/firebaseConfig.js
frontend/firebaseConfig.ts
backend/myFile.wav
frontend/.env.production
